body {
	background: burlywood;
}

.card {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	display: block;
	width: 300px;
	height: 300px;
	position: relative;
	cursor: pointer;
  transition: all 600ms;
}

.card.card-revealed {
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
}

.card .card-front,
.card .card-back {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #FFF;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 2px;
}

.card .card-front {
	background: rgb(48, 48, 48) no-repeat url("https://stackblitz.com/files/pexeso/github/Kotys/utb-pexeso/master/assets/b2a-logo-digital-innovation-light-2@2.png");
	background-position: center center;
	background-size: 65%;
}

.card .card-back {
	background: rgb(96, 96, 96);
	color: #FFF;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
  text-align: center;
}

.card .card-back i.fa {
	font-size: 72px;
  line-height: 300px;
}
